@page "/checkcredentials"
@inject NavigationManager navmanager;

<h3>@Message </h3>
<label> Contraseña: </label>
<input @bind-value="pssd" type="password" />
<button @onclick="@CheckPssd">Checar contraseña </button>

@code {

    private string pssd { get; set; }
    private string Message { get; set; }

    protected void CheckPssd()
    {
        if (pssd.Equals("123"))
        {
            navmanager.NavigateTo("/selectimport");
        }
        else
        {
            Message = "No tiene acceso";
        }


    }

}
