@page "/selectimport"
@inject NavigationManager navmanager
<h1>Selecciona Tipo de Datos </h1>

<hr />
<h3> Archivo Usuarios </h3>
<p> Ingresa un archivo .csv con el encabezado: </p>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Municipio/Estado</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Empresa </th>
        </tr>
    </thead>
</table>
<br />
<RadzenButton @ref="btn1" Click=@(args => OnClick("usuarios")) Disabled="true" Text="Usuarios" Icon="account_circle" Style="margin-bottom: 80px; width: 200px" />
<hr />
<h3> Archivo Empresas </h3>
<p> Ingresa un archivo .csv con el encabezado: </p>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre Comercial</th>
            <th>Razon Social</th>
            <th>Direccion</th>
            <th>Municipio/Estado</th>
            <th>Sitio Web</th>
            <th>Num Socio</th>
            <th>Size</th>
            <th>Vigente</th>
        </tr>
    </thead>
</table>
<br />
<RadzenButton @ref="btn2" Click=@(args => OnClick("empresas")) Disabled="true" Text="Empresas" Icon="card_travel" Style="margin-bottom: 80px; width: 200px" />

<h3>Activar funcionalidad </h3>
<label> Contraseña: </label>
<input @bind-value="pssd" type="password" />
<button  @onclick="@CheckPssd">Checar contraseña </button>

@code {


    RadzenButton btn1;
    RadzenButton btn2;
    private string pssd { get; set; }

    protected void OnClick(string type)
    {
        if (type.Equals("usuarios"))
        {
            navmanager.NavigateTo("/importdatausu");
        }
        else if (type.Equals("empresas"))
        {
            navmanager.NavigateTo("/importdataempresas");
        }

    }

    protected void CheckPssd()
    {
        if (pssd.Equals("123"))
        {
            btn1.Disabled = false;
            btn2.Disabled = false;
        }


    }

}