@page "/usuariodetails"
@page "/usuariodetails/{id:int}"
@inject IUsersService UsersService
@inject IEmpresaService EmpresaService
@inject NavigationManager NavigationManager

<h3>Usuarios</h3>

<EditForm Model="@user">
    <table class="table">
        <tr>
            <td>Nombre: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Nombre" /></td>
        </tr>
        <tr>
            <td>Municipio y Estado: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Municipio_Estado" /></td>
        </tr>
        <tr>
            <td>Teléfono: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Telefono" @onclick ="(args => UpdateDatePhone())"/></td>
        </tr>
        <tr>
            <td>Correo: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Correo" @onclick ="(args => UpdateDateCorreo())"/></td>
        </tr>
        <tr>
            <td>Empresa (Razón Social): </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.RazonEmpresa" /></td>
        </tr>
        <tr>
            <td>Whatsapp: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Whatsapp" /></td>
        </tr>
        <tr>
            <td>Facebook: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Facebook" /></td>
        </tr>
        <tr>
            <td>Linkedin: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Linkedin" /></td>
        </tr>
        <tr>
            <td>Twitter: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Twitter" /></td>
        </tr>
        <tr>
            <td>Instagram: </td>
            <td><input class="form-control col-sm-4" type="text" @bind="user.Instagram" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Guardar" @onclick="SaveUsuario" />
                <input type="button" value="Cancelar" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {

    [Parameter]
    public int id { get; set; }





    private Usuario user = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            user = await UsersService.GetUsuarioDetails(id);


        }
    }
    protected void UpdateDateCorreo()
    {
        user.LastUpdate_Mail = DateTime.Now;
    }

    protected void UpdateDatePhone()
    {
        user.LastUpdate_Phone = DateTime.Now;
    }

    protected async Task SaveUsuario()
    {
        //Look for the company
        var empresas = await EmpresaService.GetAllEmpresas();

        int empresaId = 0;

        var empresa = empresas.FirstOrDefault(c => c.RazonSocial == user.RazonEmpresa);
        // if the company is not in the database

        if (empresa is null)
        {
            empresa = new Empresa
            {
                RazonSocial = user.RazonEmpresa,
                LastUpdate = DateTime.Now


            };
            // add it
            await EmpresaService.InsertEmpresa(empresa);
            empresaId = empresa.Id;



        }
        else
        {
            empresaId = empresa.Id;
        }

        user.EmpresaId = empresaId;
        user.Origen = "Plataforma";
        if(user.Activo != false)
        {
            user.Activo = true;
        }

        await UsersService.SaveUsuario(user);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
